.tab-background[selected="true"] {
  background-color: #{{ colors.foreground.1 }} !important;
}

.tab-foreground[selected="true"] {
  color: #{{ colors.background.1 }} !important;
}

.tab-line[selected="true"] {
  background-color: #{{ colors.foreground.1 }} !important;
}

.tab-background {
  background: #{{ colors.background.1 }} !important;
}

#nav-bar {
  -moz-box-ordinal-group: 1 !important;
  border-top-width: 0 !important;
  background: #{{ colors.background.1 }} !important;
}

#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
  background: #{{ colors.background.1 }} !important;
  position: relative !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 3 !important;
  background: #{{ colors.background.1 }} !important;
  position: relative !important;
}

#TabsToolbar .tabbrowser-tab {
  color: #{{ colors.foreground.2 }} !important;
}

#TabsToolbar .tabbrowser-tab[selected="true"] {
  color: #{{ colors.background.1 }} !important;
}

#main-window,
browser[type="content-primary"],
browser[type="content"],
tabbrowser#content,
#content,
browser[type="content"] > html {
   background: #{{ colors.foreground.1 }} !important;
}

#urlbar {
  background-color: #{{ colors.background.2 }} !important;
  color: #{{ colors.foreground.2 }} !important;
}

#urlbar[focused=true] {
  border-color: #{{ colors.foreground.4 }} !important;
}

#PopupAutoCompleteRichResult {
  border: 0 !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox {
  background-color: #{{ colors.background.1 }} !important;
  margin: 0 !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
  border-bottom-color: #{{ colors.background.1 }} !important;
}
.autocomplete-richlistitem .ac-title,
.autocomplete-richlistitem .ac-action,
.autocomplete-richlistitem .ac-separator {
  color: #{{ colors.foreground.3 }} !important;
}
.autocomplete-richlistitem .ac-url {
  color: #{{ colors.normal.blue }} !important;
}
.autocomplete-richlistitem[selected=true] {
  background-color: #{{ colors.background.4 }} !important;
}
.autocomplete-richlistitem[selected=true] .ac-title,
.ac-title[selected],
.autocomplete-richlistitem[selected=true] .ac-action,
.ac-action[selected],
.autocomplete-richlistitem[selected=true] .ac-separator,
.ac-separator[selected] {
  color: #{{ colors.foreground.1 }} !important;
}
.autocomplete-richlistitem[selected=true] .ac-url,
.ac-url[selected] {
  color: #{{ colors.accent }} !important;
}

.bookmark-item {
  color: #{{ colors.foreground.2 }} !important;
}

#home-button {
  fill: #{{ colors.foreground.1 }} !important;
}
#back-button {
  fill: #{{ colors.foreground.1 }} !important;
}
#forward-button {
  fill: #{{ colors.foreground.1 }} !important;
}
#reload-button {
  fill: #{{ colors.foreground.1 }} !important;
}
#stop-button {
  fill: #{{ colors.accent }} !important;
}
#PanelUI-menu-button {
  fill: #{{ colors.foreground.1 }} !important;
}

.tabs-newtab-button {
  fill: #{{ colors.foreground.1 }} !important;
}
