rofi.color-enabled   : true
rofi.color-window    : #{{ colors.bg.1 }}, #{{ colors.fg.3 }}, #{{ colors.bg.1 }}
rofi.color-normal    : #{{ colors.bg.1 }}, #{{ colors.fg.2 }}, #{{ colors.bg.1 }}, #{{ colors.bg.4 }}, #{{ colors.accent }}
rofi.font            : {{ fonts.monospace }} 14
rofi.lines           : 5
rofi.padding         : {{ dimens.spacing }}
rofi.bw              : {{ dimens.border }}
rofi.width           : 24
rofi.separator-style : none
rofi.hide-scrollbar  : true
rofi.case-sensitive  : true
