;-------------------------------------------------------------------------------
;	V A R I A B L E S
;-------------------------------------------------------------------------------

[colors]
bg         = #{{ colors.bg.1 }}
accent     = #{{ colors.accent }}
dim        = #{{ colors.bg.2 }}

; Binary color scheme for modules
module1-bg = #{{ colors.bg.3 }}
module1-fg = #{{ colors.fg.1 }}
module2-bg = #{{ colors.fg.1 }}
module2-fg = #{{ colors.bg.3 }}
module-center-bg = #{{ colors.bg.3 }}
module-center-fg = #{{ colors.accent }}


;-------------------------------------------------------------------------------
;	B A R S
;-------------------------------------------------------------------------------

[bar/top]
width = 100%
height = 24
fixed-center = true
override-redirect = false
wm-restack = {{ wm.name }}

background = ${colors.bg}

border-bottom-size = {{ dimens.border }}
border-bottom-color = ${colors.module1-bg}

; monospace font
font-0 = {{ fonts.monospace }}:size=10:weight=bold;3
; icons
font-1 = {{ fonts.icons }}:size=11;3
; powerline arrow symbols
font-2 = {{ fonts.powerline }}:size=17;3

modules-left = bspwm r-arrow-1 bspwmindex r-arrow-2
modules-center = r-arrow-3 spotify l-arrow-2
modules-right = l-arrow-1 eth l-arrow-4 wlan l-arrow-3 volume l-arrow-4 battery l-arrow-3 date


;-------------------------------------------------------------------------------
;	M O D U L E S
;-------------------------------------------------------------------------------

[module/bspwm]
type = internal/bspwm
enable-click = true
enable-scroll = true
pin-workspaces = false

; focused = Active workspace on focused monitor
label-focused = "  "
label-focused-foreground = ${colors.accent}
; visible = Active workspace on any monitor
label-occupied = "  "
label-occupied-foreground = ${colors.dim}
; urgent = Workspace with urgency hint set
label-urgent = "  "
label-urgent-foreground = ${colors.module1-fg}
; empty = Empty Workspace
label-empty = "  "
label-empty-foreground = ${colors.dim}
; colors
label-focused-background = ${colors.module1-bg}
label-occupied-background = ${colors.module1-bg}
label-urgent-background = ${colors.module1-bg}
label-empty-background = ${colors.module1-bg}


[module/bspwmindex]
type = internal/bspwm
ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
; only style focused
label-focused = "%icon% "
label-focused-foreground = ${colors.module2-fg}
; remove others
label-occupied =
label-urgent =
label-empty =
; colors
label-focused-background = ${colors.module2-bg}


[module/spotify]
type = custom/script
exec = ~/.config/polybar/player-mpris-tail.py
tail = true
click-left = playerctl play-pause
click-middle = playerctl previous
click-right = playerctl next
format-background = ${colors.module-center-bg}
format-foreground = ${colors.module-center-fg}


[module/date]
type = internal/date
interval = 1
label = " %date% %time% "
date = "%b %d"
time= "%I:%M:%S %p"
format-background = ${colors.module1-bg}
format-foreground = ${colors.module1-fg}


[module/battery]
type = internal/battery
battery = BAT0
adapter = AC0
full-at = 95
poll-interval = 20
; charging
label-charging = "  %percentage%"
; discharging
format-discharging = <ramp-capacity> <label-discharging>
label-discharging = %percentage%
ramp-capacity-0 = " "
ramp-capacity-1 = " "
ramp-capacity-2 = " "
ramp-capacity-3 = " "
ramp-capacity-4 = " "
; full
label-full = " "
; colors
format-charging-background = ${colors.module2-bg}
format-discharging-background = ${colors.module2-bg}
format-full-background = ${colors.module2-bg}
format-charging-foreground = ${colors.module2-fg}
format-discharging-foreground = ${colors.module2-fg}
format-full-foreground = ${colors.module2-fg}


[module/volume]
type = internal/volume
format-volume = <label-volume>
label-volume = "  %percentage%"
label-muted = "  %percentage%"
; colors
format-volume-background = ${colors.module1-bg}
format-volume-foreground = ${colors.module1-fg}
format-muted-background = ${colors.module1-bg}
format-muted-foreground = ${colors.accent}


[module/wlan]
type = internal/network
interface = {{ host.interfaces.wlan }}
interval = 5
; connected
label-connected = " %signal%  %essid%"
; connected
label-disconnected =
; colors
format-connected-background = ${colors.module2-bg}
format-disconnected-background = ${colors.module2-bg}
format-connected-foreground = ${colors.module2-fg}
format-disconnected-foreground = ${colors.module2-fg}


[module/eth]
type = internal/network
interface = {{ host.interfaces.eth }}
interval = 5
; labels
label-connected = " "
format-disconnected =
;colors
format-connected-background = ${colors.module1-bg}
format-connected-foreground = ${colors.module1-fg}
format-disconnected-background = ${colors.module1-bg}
format-disconnected-foreground = ${colors.module1-fg}


[settings]
screenchange-reload = true


;-------------------------------------------------------------------------------
;	D E C O R A T I O N S
;-------------------------------------------------------------------------------

[module/r-arrow-1]
type = custom/text
content = " "
content-foreground = ${colors.module1-bg}
content-background = ${colors.module2-bg}

[module/r-arrow-2]
type = custom/text
content = " "
content-foreground = ${colors.module2-bg}
content-background = ${colors.bg}

[module/r-arrow-3]
type = custom/text
content = " "
content-foreground = ${colors.bg}
content-background = ${colors.module-center-bg}

[module/l-arrow-1]
type = custom/text
content = " "
content-foreground = ${colors.module1-bg}
content-background = ${colors.bg}

[module/l-arrow-2]
type = custom/text
content = " "
content-foreground = ${colors.bg}
content-background = ${colors.module-center-bg}

[module/l-arrow-3]
type = custom/text
content = " "
content-foreground = ${colors.module1-bg}
content-background = ${colors.module2-bg}

[module/l-arrow-4]
type = custom/text
content = " "
content-foreground = ${colors.module2-bg}
content-background = ${colors.module1-bg}


; vim:ft=dosini
